<div class="page-header">
  <%= link_to stimulus_tutorials_path, class: 'btn btn-default' do %>
    All Stimulus_tutorials
  <% end %>
  <%= link_to edit_stimulus_tutorial_path(@stimulus_tutorial), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show stimulus_tutorial</h1>
</div>

<dl class="dl-horizontal">
</dl>
