<h1>Welcome to Jumpstart!</h1>
<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>

<p>Go Rails Tutorial</p>
<%= link_to "Turbostreams example", turbostreams_path %>

<p>Hotwired.dev Tutorial</p>
<%= link_to "Turbo frames, Turbo Streams and Stimulus example", rooms_path %>