<h1>Welcome to Jumpstart!</h1>
<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>

<%= button_to "Do something", turbostreams_path , method: :get, data: {turbo_stream: :true }%>

<div id="example"></div>


<div class="todo"></div>
<div class="todo"></div>
<div class="todo"></div>
<div class="todo"></div>
<div class="todo"></div>
<div class="todo"></div>